*{
	margin: 0;
	padding: 0;
}
body{
     background-image: url("../img/bg.jpg");
     background-size: cover;
     background-repeat: no-repeat;
}


#sidebar{
  position: absolute;
  margin-top: 20px;
  width:200px;
  height:100vh;
  background:#151719;
  left:-200px;
}
#sidebar.active{
  left:0px;
  transition: 0.7s;
}
#sidebar ul li{
  border: white;
  color:rgba(230,230,230,0.9);
  list-style:none;
  padding:15px 10px;
  border-bottom:1px solid rgba(100,100,100,0.3);
  color: white;
}
#sidebar .toggle-btn{
  position:absolute;
  left:230px;
  top:20px;
}
#sidebar .toggle-btn span{
  display:block;
  width:30px;
  height:5px;
  background:#151719;
  margin:5px 0px;
}
